/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap-sprockets";
@import "bootstrap";


.jumbotron{
	color: white;
}

.copy-right{
	margin-bottom: 30px;
}

.box{
	margin: 60px 100px;
}

.review-title{
	width: 20%;
}

.review-teacher{
	width: 10%;
}

.review-body{
	width: 55%;
}

.review-created_at{
	width: 10%;
}

.review-delete{
	width: 5%;
}

.btn-prof{
	width: 300px;
}

.btn-take{
	width: 82px;
}

.btn-index{
	width: 157px;
}

.bio{
	width: 300px;
}

.prof{
	width: 300px;
	margin-right: 50px;
	float: left;
}

.prof-takes{
	width: 730px;
	float: left;
}

.prof-wrap{
	height: auto;
	overflow: hidden;
}


.prof-reviews{
	margin-top: 50px;
	clear:both;
}

.users{
	margin-right: 56px;
	margin-bottom: 40px;
	height: 190px;
	width: 160px;
	float: left;
}

.user-image{
	height: 80px;
	width: 100px;
}

.user-name{
	height: 50px;
	margin: 5px;
}

.user-h4{
	margin: 5px;
}

.about{
	font-size: 15px;
}


